/* Common CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    padding: 20px 45px;
}

.btn-primary {
    background: #E55473;
}

.secondary-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.primary-color{
    color: #E55473;
}


/* Header CSS */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    height: 850px;
    display: flex;
}

.header-text {
    width: 710px;
    padding: 200px 0 0 240px;
    margin-right: 100px;
}

.header-image {
    height: 800px;
    width: 640px;
    margin-bottom: 0;
}

.main-heading {
    color: #272727;
    font-size: 80px;
    font-weight: bold;
}

.header-para {
    margin: 32px 0;
}

/* Featured area css */

.featured-area {
    margin: 180px 0 50px 0;
}

.featured-text {
    width: 600px;
    height: 150px;
    margin: auto;
    text-align: center;
}

/* Featured images styles */

.featured-image-container {
    display: flex;
    justify-content: space-around;
}

.featured-image-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.box-one {
    background: rgba(167, 33, 98, 0.15);
}

.box-two {
    background: rgba(5, 151, 160, 0.15);
}

.box-three {
    background: rgba(71, 125, 17, 0.15);
}

.featured-image {
    width: 310px;
    height: 428px;
    position: relative;
    top: 110px;
    left: 75px;
}

/* Support section styles  */
.support-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-container {
    margin: 85px 100px;
    text-align: center;
}

/* Hot  deal section styles */
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 185px;
}

.hot-deal-text{
    padding: 230px  0 160px 395px;
    text-align: center;
}
.hot-deal-para{
    margin: 32px 0;
}

.hot-deal-image{
    margin: 100px 100px 100px 0;
}